@font-face {
  font-family: 'Belinda';
  src: url("/cms/plugins/scaramuccia-layout/assets/belinda.woff2") format("woff2");
}

@font-face {
  font-family: 'Oswald';
  src: url("/cms/plugins/scaramuccia-layout/assets/oswald.woff2") format("woff2");
}

@font-face {
  font-family: 'Trend';
  src: url("/cms/plugins/scaramuccia-layout/assets/trend.woff2") format("woff2");
}
